.moves-table {
  .moves-row {
    &.to-be-removed {
      background-color: rgba(244, 67, 54, .15);
    }

    & > span {
      min-width: 1rem;
    }

    mat-icon {
      color: #f44336;
    }
  }

  ::ng-deep app-move-input {
    .read-only {
      opacity: .7;
      pointer-events: none;
    }

    mat-form-field {

      [class*=field-wrapper] {
        height: 3rem;
      }
      [class*=subscript-wrapper] {
        height: 0;
        overflow: hidden;
        transition: height .1s;
      }

      &.mat-form-field-invalid {
        a {
          color: var(--mdc-theme-error, #f44336);
        }

        [class*=subscript-wrapper] {
          height: 1.375rem;
        }
      }
    }
  }
}
